@media only screen and (max-device-width: 768px), only screen and (max-width: 768px) {
  /*.form-conteudo{
    display: block;
    width: calc(98%);
    float: none;
  }*/
  #div-conteudo-home{
    width: calc(100% - 6em);
    left: 6em;
  }
  .form-conteudo{
    width: 48%;
    height: 25%;
    padding: 0.01em;

    border: 0.07em solid #ddd;
    border-radius: 0.188em;
  }
}
